<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Daily Dose of Reading</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<link href="static/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="static/css/flexslider.css" rel="stylesheet"/>
		<link href="static/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>				
		<script src="static/js/superfish.js"></script>	
		<script src="static/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
	<style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        }

        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
        </style>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<a href="/" class="logo pull-left"><img src="static/images/websitelogo.png" class="site_logo" alt=""></a>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="./logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					{% if accountType == "admin" %}
						<nav id="menu" class="pull-right">
							<ul>
								<li><a href="./adminindex">Home</a></li>
								<li><a href="./search">Search Books</a></li>
								<li><a href="./books" method="POST">Books</a>					
									<ul>
										<li><a href="./books">Add</a></li>									
										<li><a href="./books">Update</a></li>
										<li><a href="./books">Delete</a></li>			
									</ul>
								</li>
								<li><a href="./inventory">Inventory</a></li>	
								<li><a href="./users">Users</a>					
									<ul>
										<li><a href="./users">Admins</a></li>									
										<li><a href="./users">Customers</a></li>					
									</ul>
								</li>
                                <li><a href="./myorders">Orders</a></li>
								<li><a href="./myaccount">My Account</a></li>		
							</ul>
						</nav>
					{% endif %}

					{% if accountType == "customer" %}
						<nav id="menu" class="pull-right">
							<ul>
								<li><a href="./customerindex">Home</a></li>
								<li><a href="./customersearch">Search Books</a></li>
                                <li><a href="./myorders">My Orders</a></li>
								<li><a href="./myaccount">My Account</a></li>		
							</ul>
						</nav>
					{% endif %}
				</div>
			</section>


			<section class="main-content">
				<div class="row">
					<div class="span12">

                        {% if accountType == "admin" %}
                        <!-- Admin Account -->
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><span class="line"><strong>orDERS</strong></span></span></span>
                                </h4>
                                </br>
                                    <table>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Customer ID</th>
                                            <th>Book ISBN</th>
                                            <th>Book Title</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                            <th>Timestamp</th>
                                        </tr>
                                        {% for order in Data %}
                                            <tr>
                                                <td>{{ order[0] }}</td>
                                                <td>{{ order[1] }}</td>
                                                <td>{{ order[2] }}</td>
                                                <td>{{ order[6] }}</td>
                                                <td>{{ order[3] }}</td>
                                                <td>{{ order[4] }}</td>
                                                <td>{{ order[5] }}</td>
                                            </tr> 
                                        {% endfor %}
                                      </table>
                                      </br>
                            </div>						
                        </div>
                        {% endif %}

                        {% if accountType == "customer" %}
                        <!-- Customer Account -->
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><span class="line"><strong>ORDERS</strong></span></span></span>
                                </h4>
                                </br>
                                <table>
                                    <tr>
                                        <th>Book ISBN</th>
                                        <th>Book Title</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                        <th>Timestamp</th>
                                    </tr>
                                    {% for order in Data %}
                                        <tr>
                                            <td>{{ order[0] }}</td>
                                            <td>{{ order[4] }}</td>
                                            <td>{{ order[1] }}</td>
                                            <td>{{ order[2] }}</td>
                                            <td>{{ order[3] }}</td>
                                        </tr> 
                                    {% endfor %}
                                  </table>

                                    </br>
                            </div>						
                        </div>
                        {% endif %}
                        

					</div>				
				</div>
			</section>

			<section id="copyright">
			</section>
		</div>
		<script src="static/js/common.js"></script>
		<script src="static/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>