<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Daily Dose of Reading</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<link href="static/css/bootstrappage.css" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="static/css/flexslider.css" rel="stylesheet"/>
		<link href="static/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>				
		<script src="static/js/superfish.js"></script>	
		<script src="static/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<a href="/adminindex" class="logo pull-left"><img src="static/images/websitelogo.png" class="site_logo" alt=""></a>
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="./logout">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">	
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="./adminindex">Home</a></li>
							<li><a href="./search">Search Books</a></li>
							<li><a href="./books" method="POST">Books</a>					
								<ul>
									<li><a href="./books">Add</a></li>									
									<li><a href="./books">Update</a></li>
									<li><a href="./books">Delete</a></li>			
								</ul>
							</li>
							<li><a href="./inventory">Inventory</a></li>	
							<li><a href="./users">Users</a>					
								<ul>
									<li><a href="./users">Admins</a></li>									
									<li><a href="./users">Customers</a></li>					
								</ul>
							</li>
							<li><a href="./myorders">Orders</a></li>
							<li><a href="./myaccount">My Account</a></li>		
						</ul>
					</nav>
				</div>
			</section>


			<section class="main-content">
				<div class="row">
					<div class="span12">

                        <!-- Admins-->
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><span class="line"><strong>Admins</strong></span></span></span>
                                    <span class="pull-right">
                                        <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-2" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">	
                                                {% for admin in adminData %}											
                                                <li class="span2">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p><a href="#"><img src="static/images/usericon.jpg" alt="" /></a></p>
                                                        <a href="#" class="title">{{admin[1]}} {{admin[2]}}</a><br/>
                                                        <a href="#" class="category">{{admin[0]}}</a></br>
                                                        <!-- <a href="mailto:{{admin[3]}}">
                                                            <i class="far fa-envelope" style="font-size:24px;color:black"></i></a> -->
                                                        <p  style="font-size: 12px">{{admin[3]}} </br> {{admin[5]}}</p>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>							
                                </div>
                            </div>						
                        </div>

                        <!-- Customers-->
                        <div class="row">
                            <div class="span12">
                                <h4 class="title">
                                    <span class="pull-left"><span class="text"><span class="line"><strong>Customers</strong></span></span></span>
                                    <span class="pull-right">
                                        <a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
                                    </span>
                                </h4>
                                <div id="myCarousel-2" class="myCarousel carousel slide">
                                    <div class="carousel-inner">
                                        <div class="active item">
                                            <ul class="thumbnails">	
                                                {% for customer in customerData %}											
                                                <li class="span2">
                                                    <div class="product-box">
                                                        <span class="sale_tag"></span>
                                                        <p><a href="#"><img src="static/images/usericon.jpg" alt="" /></a></p>
                                                        <a href="#" class="title">{{customer[1]}} {{customer[2]}}</a><br/>
                                                        <a href="#" class="category">{{customer[0]}}</a></br>
                                                        <!-- <a href="mailto:{{customer[3]}}">
                                                            <i class="far fa-envelope" style="font-size:24px;color:black"></i></a> -->
                                                        <p  style="font-size: 12px">{{customer[3]}} </br> {{customer[5]}}</p>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>							
                                </div>
                            </div>						
                        </div>
                        

					</div>				
				</div>
			</section>

			<section id="copyright">
			</section>
		</div>
		<script src="static/js/common.js"></script>
		<script src="static/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>