<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Daily Dose of Reading</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">      
		<link href="static/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="static/css/bootstrappage.css" rel="stylesheet"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
		
		<!-- global styles -->
		<link href="static/css/flexslider.css" rel="stylesheet"/>
		<link href="static/css/main.css" rel="stylesheet"/>

		<!-- scripts -->
		<script src="static/js/jquery-1.7.2.min.js"></script>
		<script src="static/bootstrap/js/bootstrap.min.js"></script>				
		<script src="static/js/superfish.js"></script>	
		<script src="static/js/jquery.scrolltotop.js"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
					<a href="/" class="logo pull-left"><img src="static/images/websitelogo.png" class="site_logo" alt=""></a>
					<!-- <form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search here">
					</form> -->  <!--changed -->
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">				
							<li><a href="./">Logout</a></li>
							<!-- <li><a href="/login">Admin Login</a></li>	 -->
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<!-- <div class="span4">
					<form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search here">
					</form>	
				</div> -->
				<div class="navbar-inner main-menu">	
					<!-- <form method="POST" class="search_form">
						<input type="text" class="input-block-level search-query" Placeholder="Search here">
					</form>	 -->
					<!--changed -->
					<!-- <a href="index.html" class="logo pull-left"><img src="static/images/websitelogo.png" class="site_logo" alt=""></a>		 -->
					<!-- <a href="index.html" class="logo pull-left"><img src="static/images/logo.png" class="site_logo" alt=""></a> -->
					
					<nav id="menu" class="pull-right">
						<ul>
							<li><a href="./adminindex">Home</a></li>
							<li><a href="./search">Search Books</a></li>
							<li><a href="./books" method="POST">Books</a>					
								<ul>
									<li><a href="./books">Add</a></li>
									<li><a href="./books">Update</a></li>									
									<li><a href="./books">Delete</a></li>			
								</ul>
							</li>
							<!-- </form> -->
							<li><a href="#">Inventory</a></li>	
							<li><a href="./users">Users</a>					
								<ul>
									<li><a href="./users">Admins</a></li>									
									<li><a href="./users">Customers</a></li>					
								</ul>
							</li>
							<li><a href="#">My Account</a></li>		
						</ul>
					</nav>
				</div>
			</section>
			<!-- <section  class="homepage-slider" id="home-slider">
				<div class="flexslider">
					<ul class="slides">
						<li>
							<img src="static/images/carousel/carousel1.jpg" alt="" />
						</li>
						<li>
							<img src="static/images/carousel/carousel2.jpg" alt="" />
							<div class="intro">
								<h1>Mid season sale</h1>
								<p><span>Up to 50% Off</span></p>
								<p><span>On selected items online and in stores</span></p>
							</div>
						</li>
					</ul>
				</div>			
			</section> -->
			<!-- <section class="header_text">
				We stand for top quality templates. Our genuine developers always optimized bootstrap commercial templates. 
				<br/>Don't miss to use our cheap abd best bootstrap templates.
			</section> -->


			<section class="main-content">
				<div class="row">
					<div class="span12">

						<!-- Genre-->
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>GENRES</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
												{% for genre in genreData %}											
												<li class="span2">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="./product_detail"><img src="static/images/books/genre.png" alt="" /></a></p>
														<p class="price">{{genre[0]}}</p>
													</div>
												</li>
												{% endfor %}
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>

						<!-- Display books Genre wise -->
						{% for genre in genreData %}
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>{{genre[0]}}</strong> Books</span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">	
												{% for book in booksData %}
													{% if book[4] == genre[0] %}
														<li class="span2">
															<div class="product-box">
																<span class="sale_tag"></span>
																<p><a href="./register"><img src="static/images/books/book.png" alt="" /></a></p>
																<a href="/register" class="title">{{book[3]}} ({{book[0]}})</a><br/>
																<a href="/register" class="title">- {{book[7]}} {{book[8]}}</a><br/>
																<a href="/register" class="category">{{book[4]}}</a>
																<p class="price">Rs {{book[6]}} /-</p>
															</div>
														</li>	
													{% endif %}									
												{% endfor %}
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						{% endfor %}
						
						<!-- All Books -->
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>All </strong>Books</span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
												
												{% for book in booksData %}
													<li class="span2">
														<div class="product-box">
															<span class="sale_tag"></span>
															<p><a href="#"><img src="static/images/books/book.png" alt="" /></a></p>
															<a href="#" class="title">{{book[3]}} ({{book[0]}})</a><br/>
															<a href="#" class="title">- {{book[7]}} {{book[8]}}</a><br/>
															<a href="#" class="category">{{book[4]}}</a>
															<p class="price">Rs {{book[6]}} /-</p>
														</div>
													</li>

												{% endfor %}
												
											</ul>
										</div>
									</div>	
								</div>
							</div>						
						</div>
						<br/>
 
						<!-- BEST SELLER BOOKS  -->
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>Best Seller </strong>Books</span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<!-- <li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="static/images/cloth/bootstrap-women-ware1.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Quis nostrud exerci tation</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$17.55</p>
													</div>
												</li> -->
											</ul>
										</div>

										<!-- <div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="static/images/cloth/bootstrap-women-ware4.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>																																	
											</ul>
										</div> -->

									</div>							
								</div>
							</div>						
						</div>

						<!-- Warehouse
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line"><strong>WAREHOUSE</strong></span></span></span>
									<span class="pull-right">
										<a class="left button" href="#myCarousel-2" data-slide="prev"></a><a class="right button" href="#myCarousel-2" data-slide="next"></a>
									</span>
								</h4>
								<div id="myCarousel-2" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">												
												<li class="span3">
													<div class="product-box">
														<span class="sale_tag"></span>
														<p><a href="product_detail.html"><img src="static/images/books/genre.png" alt="" /></a></p>
														<a href="product_detail.html" class="title">Ut wisi enim ad</a><br/>
														<a href="products.html" class="category">Commodo consequat</a>
														<p class="price">$25.50</p>
													</div>
												</li>
											</ul>
										</div>
										<div class="item">
											<ul class="thumbnails">
												<li class="span3">
													<div class="product-box">
														<p><a href="product_detail.html"><img src="static/images/cloth/bootstrap-women-ware4.jpg" alt="" /></a></p>
														<a href="product_detail.html" class="title">Know exactly</a><br/>
														<a href="products.html" class="category">Quis nostrud</a>
														<p class="price">$45.50</p>
													</div>
												</li>																																	
											</ul>
										</div> 
									</div>							
								</div>
							</div>						
						</div> -->



						<!-- Developers Section -->
						<h4 class="title"><span class="text"><strong>Developers</strong></span></h4>	
						<div class="row feature_box">						
							<div class="span3">
								<div class="service">
									
									<div class="responsive">	
										<img src="static/images/feature_img_3.png" alt="" />
										<h4><strong>A N Geervani Reddy</strong></h4>
										<h9>Third Year IT Student</h9>
										<p>Grno: 21911194 & Rollno: 331001</p>
										<!-- <p>geervani.21911194@viit.ac.in</p>	 -->
										<a href="mailto:geervani.21911194@viit.ac.in">
											<i class="far fa-envelope" style="font-size:24px;color:black"></i></a>
										<a href="https://www.linkedin.com/in/geervani-reddy">
											<i class="fab fa-linkedin" style="font-size:24px;color:blue"></i></a>
										<a href="https://github.com/Geervanireddy16">
											<i class="fab fa-github" style="font-size:24px;color:black"></i></a>							
									</div>
								</div>
							</div>
							<div class="span3">	
								<div class="service">
									<div class="customize">			
										<img src="static/images/feature_img_3.png" alt="" />
										<h4><strong>Shyam Aher</strong></h4>
										<h9>Third Year Information Technology</h9>
										<p>Grno: 21910485 & Rollno: 331003</p>
										<!-- <p>shyam.21910485@viit.ac.in</p> -->
										<a href="mailto:geervani.21911194@viit.ac.in">
											<i class="far fa-envelope" style="font-size:24px;color:black"></i></a>
										<a href="https://www.linkedin.com/in/geervani-reddy">
											<i class="fab fa-linkedin" style="font-size:24px;color:blue"></i></a>
										<a href="https://github.com/Geervanireddy16">
											<i class="fab fa-github" style="font-size:24px;color:black"></i></a>								
									</div>
								</div>
							</div>
							<div class="span3">
								<div class="service">
									<div class="support">	
										<img src="static/images/feature_img_3.png" alt="" />
										<h4><strong>Sakshi Gaikwad</strong></h4>
										<h9>Third Year Information Technology</h9>
										<p>Grno: 21910485 & Rollno: 331003</p>
										<!-- <p>shyam.21910485@viit.ac.in</p> -->
										<a href="mailto:geervani.21911194@viit.ac.in">
											<i class="far fa-envelope" style="font-size:24px;color:black"></i></a>
										<a href="https://www.linkedin.com/in/geervani-reddy">
											<i class="fab fa-linkedin" style="font-size:24px;color:blue"></i></a>
										<a href="https://github.com/Geervanireddy16">
											<i class="fab fa-github" style="font-size:24px;color:black"></i></a>			
									</div>
								</div>
							</div>	
							<div class="span3">
								<div class="service">
									<div class="support">	
										<img src="static/images/feature_img_3.png" alt="" />
										<h4><strong>Kartik Hiremath</strong></h4>
										<h9>Third Year Information Technology</h9>
										<p>Grno: 21910485 & Rollno: 331003</p>
										<!-- <p>shyam.21910485@viit.ac.in</p> -->
										<a href="mailto:geervani.21911194@viit.ac.in">
											<i class="far fa-envelope" style="font-size:24px;color:black"></i></a>
										<a href="https://www.linkedin.com/in/geervani-reddy">
											<i class="fab fa-linkedin" style="font-size:24px;color:blue"></i></a>
										<a href="https://github.com/Geervanireddy16">
											<i class="fab fa-github" style="font-size:24px;color:black"></i></a>	
									</div>
								</div>
							</div>	
						</div>
						

					</div>	

				</div>
			</section>
			<!-- <section class="our_client">
				<h4 class="title"><span class="text">Developers</span></h4>
				<div class="row">					
					<div class="span3">
						<a href="#"><img alt="" src="static/images/clients/14.png"></a>
					</div>
					<div class="span3">
						<a href="#"><img alt="" src="static/images/clients/35.png"></a>
					</div>
					<div class="span3">
						<a href="#"><img alt="" src="static/images/clients/1.png"></a>
					</div>
					<div class="span3">
						<a href="#"><img alt="" src="static/images/clients/2.png"></a>
					</div>
				</div>
			</section> -->
			<!-- <section id="footer-bar">
				<div class="row">
					<div class="span3">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="./index.html">Homepage</a></li>  
							<li><a href="./about.html">About Us</a></li>
							<li><a href="./contact.html">Contac Us</a></li>
							<li><a href="./cart.html">Your Cart</a></li>
							<li><a href="./register.html">Login</a></li>							
						</ul>					
					</div>
					<div class="span4">
						<h4>My Account</h4>
						<ul class="nav">
							<li><a href="#">My Account</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Wish List</a></li>
							<li><a href="#">Newsletter</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="static/images/logo.png" class="site_logo" alt=""></p>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
						<br/>
						<span class="social_icons">
							<a class="facebook" href="#">Facebook</a>
							<a class="twitter" href="#">Twitter</a>
							<a class="skype" href="#">Skype</a>
							<a class="vimeo" href="#">Vimeo</a>
						</span>
					</div>					
				</div>	
			</section> -->

			<section id="copyright">
				<!-- <span>Copyright 2013 bootstrappage template  All right reserved.</span> -->
			</section>
		</div>
		<script src="static/js/common.js"></script>
		<script src="static/js/jquery.flexslider-min.js"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>